name: Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5.0
          install-mode: goinstall

  test:
    name: Test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Configure Environment
        run: go env -w CGO_ENABLED=0
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test
        run: task test

  goreleaser:
    name: Check GoReleaser
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          install-only: true
      - name: Check GoReleaser
        run: goreleaser check

  diff:
    name: Check Diff
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Configure Environment
        run: go env -w CGO_ENABLED=0
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install stringer
        run: go install golang.org/x/tools/cmd/stringer@v0.38.0
      - name: Tidy
        run: task tidy
      - name: Generate
        run: task generate
      - name: Check Diff
        run: git status --porcelain && test -z "$(git status --porcelain)"
